:root {
  --white: #fff;
  --black: #222;
  --pink: #f60091;
  --grey: #444;
  --grey2: #959595;
  --grey-alt: #d1e2e9;
  --yellow: #ffd800;
  --green: #59b210;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #fff;
  color: #243a6f;
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.container-md {
  max-width: 100rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }

  .container-md {
    padding: 0 3rem;
  }
}

/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--grey-alt);
  overflow: hidden;
}

.nav {
  padding: 0.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
}

.logo h1 {
  font-size: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 40rem;
    height: 100%;
    background-color: #fff;
    transition: all 500ms ease-in-out;
    z-index: 100;
  }

  .menu.show {
    left: 0;
  }

  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #243a6f;
    padding: 1rem 1.6rem;
  }

  .top-nav .logo {
    color: #fff;
  }

  .top-nav .close {
    color: #fff;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
  }

  .cart-icon {
    display: block;
    font-size: 3rem;
  }

  .hamburger {
    display: block;
    font-size: 3rem;
    padding: 0.5rem;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: block;
    font-size: 1.7rem;
    padding: 1rem 0;
  }

  .nav.fix-nav .nav-link {
    color: #243a6f;
  }

  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
  }

  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }

  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .nav-link.icon {
    display: none;
  }
}

/* Hero */
.header .hero-img {
  position: absolute;
  bottom: -10%;
  right: -2%;
  height: 64rem;
  object-fit: contain;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content h2 {
  color: #fd4e4e;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-content .discount {
  color: #fb9219;
}

.hero-content h1 span {
  color: #253b70;
  font-size: 6rem;
  font-weight: 700;
  display: block;
  line-height: 1;
  text-shadow: 3px 3px 0 #f1f1f1, 4px 4px 0 #f1f1f1;
}

.btn {
  display: inline-block;
  background-color: #fc7c7c;
  padding: 1.2rem 4rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 3rem;
  
}

@media only screen and (max-width: 1200px) {
  .header .hero-img {
    right: -20%;
  }

  .hero-content {
    transform: translate(20%, -50%);
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content h1 span {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 996px) {
  .header {
    min-height: 70vh;
  }

  .header .hero-img {
    height: 40rem;
    right: -10%;
  }
}

@media only screen and (max-width: 567px) {
  .header {
    min-height: 100vh;
  }

  .header .hero-img {
    height: 40rem;
    bottom: -15%;
  }

  .hero-content {
    top: 40%;
    transform: translate(15%, -50%);
  }

  .header .hero-img {
    right: 0%;
  }

  .hero-content h2 {
    font-size: 1.8rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }

  .hero-content a {
    padding: 1rem 3rem;
  }
}

/* Adverts */
.section {
  padding: 10rem 0 5rem 0;
}

.advert-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}

.advert-box {
  position: relative;
  /* display: inline-flex;
  justify-content: center; */
  color: #fff;
  height: 27rem;
  border-radius: 1rem;
  padding: 1rem;
  /* overflow: hidden; */
  z-index: 1;
}

.advert-box img {
  position: absolute;
  bottom: 0%;
  left: -2%;
  height: 100%;
  width: 55rem;
  z-index: -1;
}

.advert-box .dotted {
  position: relative;
  height: 100%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}

.advert-box .content {
  /* position: absolute; */
  top: 50%;
  right: 5%;
  transform: translate(0, -120%);
}

.advert-box .content h2,
.advert-box .content h4 {
  text-shadow: 2px 3px 0px rgba(37, 59, 112, 0.1);
}

.advert-box .content h2 {
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.advert-box .content h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}



/* Main Part */
.Main_items {
  min-height: calc(100vh - 55px - 20vh);
  max-width: 120rem;
  padding: 0 2rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: 0 auto;
  background-blend-mode: soft-light;
  background-color: rgba(56, 182, 255, 0.11);
}


.card {
  margin: auto;
  max-width: 95vw;
  padding-bottom: 7rem;
}


.card_item {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 15px;
}

.card_item img {
  height: 200px;
  width: 230px;
}

.card_item:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
     -webkit-transition: 0.3s ease-in-out;
}

.lines {
  /* width: 17vw; */
  text-align: center;
}

.text {
  text-align: center;
}

.button {
  margin: auto;
  text-align: center;
  color: #9e5109;
  background-color: #fff;
  border: 1px solid black;
  font-size: 20px;
  padding: 10px 25px;
}

.my-1 {
    color: rgb(0, 0, 0);
    background-color: rgba(148, 247, 222, 0.13);
}

.card-5 {
  margin: auto;
  /* max-width: 95vw; */
  background-color: rgba(255, 57, 57, 0);
  padding-top: 40px;
  padding-bottom: 40px;
}

.my-3 {
  /* background-color: rgba(0, 0, 0, 0.411); */
  color: black;
}

.my-2 {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(160, 73, 1);
  background-color: rgba(255, 198, 112, 0.24);
  background-clip: content-box;
}

.my-4 {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(0, 0, 0);
  /* background-color: rgb(98, 213, 248); */
  background-clip: content-box;
}


.card_item_2 {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 26px;
}


.card_item_2 img {
  height: 200px;
  width: 200px;
}

.contact {
  padding: 5rem;
  background-color: rgb(209, 255, 255);
}

.contact h1 {
  color: rgb(99, 38, 38);
}

.contactt {
  margin-left: 7rem;
}

.contactt i {
  font-size: 3rem;
}

.linkss a{
  margin: 0rem 0.6rem;
}

.aboutt {
  padding: 5rem;
  width: 100%;
  display: flex;
  font-size: 1.7rem;
  background-color: #ffaeae2a;
}

.aboutt big {
  color: rgb(1, 0, 63);
}

.wow img {
  width: 40rem;
}

.wow {
  width: 185%;
}

/* Testimonials */
.testimonial-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 6rem;
}

.testimonial {
  position: relative;
  padding: 5rem;
  background-color: rgba(255, 225, 225, 0.164);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
  text-align: center;
  border-radius: 0.5rem;
}

.testimonial:hover {
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.2);
  transform: translateY(-1rem);
}

.testimonial span {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 12rem;
  font-family: sans-serif;
  color: #ff7c9c;
  line-height: 1;
  transform: translate(-50%, 0);
}

.testimonial p {
  margin: 2rem 0 1rem 0;
}

.testimonial .rating {
  margin-bottom: 1rem;
}

.testimonial .img-cover {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  margin: 0 auto;
}

.testimonial .img-cover img {
  height: 100%;
  object-fit: cover;
}

.testimonial h4 {
  margin-top: 1rem;
}




footer {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid black;
  height: 20vh;
  font-family: "Playfair Display", serif;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}


img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container_8 {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

